.footer-link-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.78px;
    letter-spacing: -0.09599998593330383px;
    text-align: left;
    padding-bottom: 1rem;
    color: #EBDAFF;
}

.padding-left-4 {
    padding-left: 4rem;
}

.social-div{
    display: flex; align-items: center; float: right;
}

@media (max-width: 992px) and (min-width: 300px) {

    .padding-left-4 {
        padding-left: 0rem;
    }

    .padding-b-4 {
        padding-bottom: 4rem;
    }

    .img-size{
        width: 40px;
    }

    .social-div{
        display: flex; align-items: center; float: none; padding-top: 1rem;
    }

}