<section style="position: relative; padding-top: 5rem; background: #2E1B45">
    <div class="container">
        <div class="row">
            <div class="col-md-2 padding-b-4">
                <img src="./assets/img/footer/questa-white.svg" alt="">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="padding-left-4">
                            <p class="footer-link-text">
                                <a href="https://jmp.sh/KUTKo1FX" style="color: #EBDAFF; text-decoration: none;"
                                    target="_blank">
                                    Terms of Use and Copyright
                                </a>
                            </p>
                            <p class="footer-link-text">
                                <a href="https://jmp.sh/3YJwthJU" style="color: #EBDAFF; text-decoration: none;"
                                    target="_blank">
                                    Cookies
                                </a>
                            </p>
                            <p class="footer-link-text">
                                <a href="https://jmp.sh/3CAWPDjO" style="color: #EBDAFF; text-decoration: none;"
                                    target="_blank">
                                    Data Protection and Privacy Policy
                                </a>
                            </p>
                            <p class="footer-link-text">
                                <a href="https://jmp.sh/QYJOVeta" style="color: #EBDAFF; text-decoration: none;"
                                    target="_blank">
                                    Legal and Disclaimer
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div>
                            <p class="footer-link-text" routerLink="/assessment" style="cursor: pointer;">
                                Deep Dive into Assessments
                            </p>
                            <!-- <p class="footer-link-text" routerLink="/assessment" style="cursor: pointer;">
                                Our Philosophy
                            </p> -->
                            <p class="footer-link-text" routerLink="/talent-optimisation" style="cursor: pointer;">
                                Talent Management
                            </p>
                            <p class="footer-link-text" routerLink="/executive-search" style="cursor: pointer;">
                                Executive Search
                            </p>
                            <p class="footer-link-text" routerLink="/leadership-development" style="cursor: pointer;">
                                Leadership Development
                            </p>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div>
                            <a href="https://www.linkedin.com/company/questa-in/jobs/" target="_blank"
                                style="text-decoration: none;">
                                <p class="footer-link-text">
                                    Work Opportunities with Questa - Apply Now
                                </p>
                            </a>
                            <p class="footer-link-text" routerLink="/coaching" style="cursor: pointer;">
                                Become a certified Questa Enneagram Coach
                            </p>
                            <p class="footer-link-text" routerLink="/about-us" style="cursor: pointer;">
                                About Us
                            </p>
                            <!-- <p class="footer-link-text" routerLink="/certification" style="cursor: pointer;">
                                Certification
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="align-items: center; padding: 3rem 0; border-top: 0.4px solid #FFFFFF">
            <div class="col-md-6">
                <span style="font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 18.78px;
                letter-spacing: -0.09599998593330383px;
                text-align: left;
                color: #EBDAFF;">
                    Address: Unit No. 307, 3rd Floor, Ocus Quantum, Sector 51, Gurgaon 122003
                </span>
            </div>
            <div class="col-md-6">
                <div class="social-div">
                    <span style="font-family: 'Raleway', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18.78px;
                    letter-spacing: -0.09599998593330383px;
                    text-align: left;
                    color: #EBDAFF;
                    padding-right: 1rem;                    
                    ">You can find us on</span>
                    <div>
                        <a href="https://www.instagram.com/questa_enneagram?igsh=Mzc3cG50azM5bXV5" target="_blank"><img
                                src="./assets/img/footer/instagram.svg" class="p-1 img-size" alt=""></a>
                        <!-- <a href="https://www.facebook.com/questaenneagram/" target="_blank"> <img
                                src="./assets/img/footer/facebook.svg" class="p-1 img-size" alt=""></a> -->
                        <a href="http://www.youtube.com/@questa2406" target="_blank"><img
                                src="./assets/img/footer/youtube.svg" class="p-1 img-size" alt=""></a>
                        <a href="https://www.linkedin.com/company/questa-in/" target="_blank"><img
                                src="./assets/img/footer/linkedin.svg" class="p-1 img-size" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>