<div class="menu">
  <nav class="navbar navbar-expand-lg bg-transparent-1 ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><img src="assets/questa-new-logo.svg" class="company-logo" alt=""></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-3">
            <a class="nav-link" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/executive-search">Executive Search</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/assessment">Assessments</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Talent solutions
            </a>
            <ul class="dropdown-menu dropdown-menu-div" aria-labelledby="navbarScrollingDropdown">
              <li class="dropdown-item">
                <a class="dropdown-item" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/talent-acquisition">
                  Talent Acquisition
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/talent-optimisation">
                  Talent Management
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/leadership-development">
                  Leadership Development
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/coaching">
                  Coaching
                </a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-item" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/workshop">
                  Workshops
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  cursor: pointer;
                  " routerLink="/pricing">
              Pricing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  cursor: pointer;
                  " routerLink="/our-platform">
              Our Platform
            </a>
          </li>

          <li class="nav-item px-3">
            <a class="nav-link" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  " routerLink="/placements">Campus 2 Corporate</a>
          </li>

          <li class="nav-item">
            <a class="nav-link show-mobile" style="color: #603F87; font-family: 'Raleway', sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 23px;
                  letter-spacing: 0px;
                  text-align: center;
                  cursor: pointer;
                  " href="https://app.questa.in/" target="_blank">
              Login
            </a>
          </li>


        </ul>

      </div>

      <a href="https://app.questa.in/" target="_blank">
        <button class="login-button">
          <span style="font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 31px;
          letter-spacing: -0.11px;
          text-align: center;
          text-transform: uppercase;
          color: #7A1AF0;
          "> login </span>
        </button>
      </a>
    </div>
  </nav>
</div>