<section class="hide-mobile">
    <div
        style="position: relative; height: 610px; background-image: url(./assets/img/placements/banner-background.svg);">
        <app-top-navbar></app-top-navbar>
        <img src="./assets/img/placements/banner-right.svg" style="position: absolute; right: 0; bottom: 0;" alt="">
        <div class="container" style="padding-top: 8rem;">
            <div style="text-align-last: center; padding-top: 5rem; padding-bottom: 5rem;">
                <p style="font-family: 'Raleway', sans-serif;
            font-size: 26px;
            font-weight: 600;
            line-height: 31px;
            letter-spacing: 0px;
            text-align: left; color: #FF82EB;
            ">The Placement Playbook</p>

                <p style="font-family: 'Raleway', sans-serif;
            font-size: 42px;
            font-weight: 600;
            line-height: 52px;
            letter-spacing: 0px;
            text-align: center; color: #000000;
            ">Campus to Corporate <br> Capability building Programs</p>

                <p style="font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 37px;
            letter-spacing: -0.11399998515844345px;
            text-align: center;
            color: #7E7E7E;">
                    Bridge the gap between academic learning and workplace expectations, ensuring engineering <br>
                    graduates transition seamlessly into the corporate world.
                </p>

            </div>
        </div>
        <img src="./assets/img/placements/banner-left.svg" class="pulse" style="position: absolute; bottom: 0; left: 0;"
            alt="">
    </div>
</section>

<section class="show-mobile" style="position: relative;">
    <div class="banner-bg-img">
        <app-top-navbar></app-top-navbar>
        <div style="padding: 1rem; text-align-last: center;">
            <p style="font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 18.78px;
            text-align: center;
            text-align-last: center;
            color: #FF82EB;">
                The Placement Playbook
            </p>

            <p style="font-family: 'Raleway', sans-serif;
            font-size: 23px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            color: #000000;">
                Campus to Corporate Capability building Programs
            </p>

            <p style="font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.03224727511405945px;
            text-align: center;
            color: #7E7E7E;">
                Bridge the gap between academic learning and workplace expectations, ensuring engineering
                graduates transition seamlessly into the corporate world.
            </p>
        </div>
        <!-- <img src="./assets/img/assessment/mobile/banner-boy.png" style="position: absolute; bottom: 0; left: 6.5rem; width: 135px;" alt=""> -->
    </div>
</section>


<section style="padding-top: 5rem; padding-bottom: 3rem;">
    <div class="container">

        <p class="AssessmentOverview-heading">
            Benefits
        </p>

        <br class="hide-mobile"><br class="hide-mobile">

        <div class="row my-5">
            <div class="col-md-4 my-2 col-6" data-aos="flip-down">
                <div class="benefits-div">
                    <p class="Consultative-card">
                        Bridges the skill <br class="hide-mobile"> Gap
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2 col-6" data-aos="flip-up">
                <div class="benefits-div">
                    <p class="Consultative-card">
                        Enhances <br class="hide-mobile"> Profession- alism
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2 col-6" data-aos="flip-down">
                <div class="benefits-div">
                    <p class="Consultative-card">
                        Accelerates <br class="hide-mobile"> onboarding
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2 col-6" data-aos="flip-down">
                <div class="benefits-div">
                    <p class="Consultative-card">
                        Boosts <br class="hide-mobile"> Confidencce
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2 col-6" data-aos="flip-down">
                <div class="benefits-div">
                    <p class="Consultative-card">
                        Promotes <br class="hide-mobile"> adaptability
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2 col-6" data-aos="flip-down">
                <div class="benefits-div">
                    <p class="Consultative-card">
                        Mock Interviews <br class="hide-mobile"> with Feedback
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>



<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 center-div" style="align-content: center;">
                <div style="padding: 2rem 0;">
                    <span style="font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    font-size: 110px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    ">
                        77%
                    </span>
                </div>
                <div style="padding: 2rem 0;">
                    <span style="font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 37px;
                    letter-spacing: -0.17px;
                    color: #C493FF;
                    ">
                        Hiring managers prefer <br> candidates with soft skills, <br> which most fresh graduates lack.
                    </span> <br><br><br>
                    <span style="font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 37px;
                    letter-spacing: -0.17px;
                    color: #C493FF;
                    ">
                        Harvard Business Review (2021)
                    </span>
                </div>
            </div>
            <div class="col-md-7">
                <img src="./assets/img/placements/we-are.svg" style="width: 100%;" alt="">
            </div>
            <img src="./assets/img/placements/yellow-bottom-line.svg" alt="">
        </div>
    </div>
</section>

<section style="padding-top: 5rem; padding-bottom: 3rem;">
    <div class="container">
        <div style="text-align: center;">
            <span class="questa-campus">
                Questa Campus to Corporate Workshop aims to equip students with the self-awareness, communication, and
                professional skills needed to transition seamlessly from academia to the corporate world, enhancing
                their employability and career readiness.
            </span>
        </div>
    </div>
</section>

<section style="padding-top: 5rem; padding-bottom: 3rem;">
    <div class="container">
        <div class="Virtual-Workshop-div">
            <div style="position: relative;">
                <span class="VirtualWorkshop-heading-text">
                    What’s in it for you?
                </span>

                <br><br><br>
                <p class="VirtualWorkshop-para">
                    Our approach combines interactive techniques like role plays and simulations, visual aids such as
                    videos and real-life examples, and practical application through hands-on exercises and feedback. We
                    also emphasize collaborative learning with group activities and peer evaluations to enhance
                    communication and leadership skills.
                </p>
                <br>

                <hr style="color: #fff; margin: 2.5rem 0;">

                <br>

                <p class="What-will-we">
                    What will we be covering in the
                    <span class="What-will-we-b">
                        15 hours learning session ?
                    </span>
                </p>



                <div style="margin: 4rem 0;">

                    <div class="hide-mobile">
                        <div class=" learning-session-div-grid">
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span class="text-div-bg-text">
                                    Self Discovery & Assessment
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-right">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span class="text-div-bg-text">
                                    Group Discussion & Mock Sessions
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-right">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span class="text-div-bg-text">
                                    Debrief & Action Plan
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-right">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span class="text-div-bg-text">
                                    Interview Preparation & Mock Interview
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-right">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span class="text-div-bg-text">
                                    2 Hour Helpdesk for Final-Year Students
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="show-mobile">
                        <div class="learning-session-div-grid">
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span class="text-div-bg-text">
                                    3 Days Learning Session
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-down">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span class="text-div-bg-text">
                                    Objective and Subjective Assessment
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-down">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span class="text-div-bg-text">
                                    Live Case Study Assessment to be cleared
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-down">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span class="text-div-bg-text">
                                    Submission of Live Session recording
                                </span>
                            </div>
                        </div>
                    </div>

                </div>


                <br>

                <!-- 
                <button data-aos="zoom-in-down" class="banner-btn banner-btn-position" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <span>
                        Connect with us
                    </span>
                </button> -->


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" style="z-index: 9999999999999999999999;" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <!-- <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div> -->
                            <div class="modal-body">

                                <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdh75PWoZK1czmOXsqz_9TUTKgX0aNBO7NbAieNDC4afsIQpg/viewform?embedded=true" width="740" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
                                <iframe
                                    src="https://docs.google.com/forms/d/e/1FAIpQLSdMnkWOWT4PoIZz_QfJbJ5Dc6GItrpTDlAJAi81BlBu0cVO9A/viewform?embedded=true"
                                    width="740" height="2100" frameborder="0" marginheight="0"
                                    marginwidth="0">Loading…</iframe>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



<section style="padding-top: 5rem; padding-bottom: 3rem;">
    <div class="container">

        <div style="text-align: center;">
            <img data-aos="fade-down" class="img-width-mob-100" style="margin-top: 3rem; margin-bottom: 3rem;"
                src="./assets/img/talent-optimisation/arrow-line.svg" alt="">
        </div>

        <div class="margon-4rem">
            <p data-aos="fade-up" class="Develop-Performance-heading">
                This program is ideal for
            </p>


            <p data-aos="flip-up" class="Sustainable-organizational-growth-text">
                <span style="padding: 0 1rem;" class="hide-for-mobile"> • </span> Graduates <br class="show-mobile">
                <span style="padding: 0 1rem;" class="hide-for-mobile"> • </span> Final-year students <br
                    class="show-mobile">
                <span style="padding: 0 1rem;" class="hide-for-mobile"> • </span> <br class="hide-for-mobile">
                <span style="padding: 0 1rem;" class="hide-for-mobile"> • </span> Freshers <br class="show-mobile">
                <span style="padding: 0 1rem;" class="hide-for-mobile"> • </span> Early-career professionals <br
                    class="show-mobile">
                <span style="padding: 0 1rem;" class="hide-for-mobile"> • </span>
            </p>
        </div>

        <div style="text-align: center;">
            <img data-aos="fade-down" class="img-width-mob-100" style="margin-top: 1rem; margin-bottom: 3rem;"
                src="./assets/img/talent-optimisation/arrow-line.svg" alt="">
        </div>

    </div>
</section>


<app-footer-page></app-footer-page>