<div class="main-container">
    <!-- Left Column -->
    <div class="left-column">
        <div class="logo"> <!-- Adjust logo styling or use an <img> if needed -->
            <img src="assets/img/logo-white.png" alt="Logo" />
        </div>
        <div class="left-text">
            <h2>Start your <span>Enneagram journey</span> here!</h2>
        </div>
        <div class="left-image">
            <img src="assets/img/demo-assesment/title_page.svg" alt="Left Bottom Image" />
        </div>
    </div>

    <!-- Right Column -->
    <div class="right-column">
        <div class="right-content">

            <div class="line-1">Try our demo assessment</div>
            <div class="line-2">to discover how your core</div>
            <div class="line-3">— Action, Thinking, or Feeling —</div>
            <div class="line-2">style drives your behaviour.</div>

            <form class="my-5">
                <input type="text" placeholder="Your Full Name" />
                <input type="text" placeholder="Email or Phone Number" />

                <br>
                <br>
                <br>
                <button class="banner-btn">
                    <span> GET STARTED WITH THE ASSESSMENT </span>
                </button>

            </form>
        </div>
    </div>
</div>