<section class="hide-mobile">
    <div style="position: relative; background-image: url(./assets/img/platform/banner-background.svg);">
        <app-top-navbar></app-top-navbar>
        <img src="./assets/img/platform/banner-right.svg" style="position: absolute; right: 0; bottom: 0;" alt="">
        <div class="container padding-top-8">
            <div style="text-align-last: center; padding-top: 5rem; padding-bottom: 5rem;">
                <p style="font-family: 'Raleway', sans-serif;
            font-size: 26px;
            font-weight: 600;
            line-height: 31px;
            letter-spacing: 0px;
            text-align: left; color: #FF82EB;
            ">OUR PLATFORM</p>

                <p style="font-family: 'Raleway', sans-serif;
            font-size: 42px;
            font-weight: 600;
            line-height: 52px;
            letter-spacing: 0px;
            text-align: center; color: #000000;
            ">Unlock Potential with <br> Questa Talent Solutions</p>

                <p style="font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 37px;
            letter-spacing: -0.11399998515844345px;
            text-align: center;
            color: #7E7E7E;">
                    Questa’s Platform offers you access to a wide range of research-backed assessments. <br>
                    Whether you're hiring top talent or developing future leaders, Questa ensures precision, efficiency,
                    and confidence at every step.
                </p>

                <img style="padding: 3rem 0;" src="./assets/img/platform/banner-img.svg" alt="">
            </div>
        </div>
        <img src="./assets/img/platform/banner-left.svg" class="pulse" style="position: absolute; bottom: 0; left: 0;"
            alt="">


        <div style="text-align-last: center;
        padding-top: 5px;
        position: absolute;
        bottom: -30px;
        justify-self: anchor-center;">
            <button class="banner-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span style="text-transform: uppercase ;">
                    Start your Free trial
                </span>
            </button>
        </div>
    </div>
</section>

<section class="show-mobile" style="position: relative;">
    <div class="banner-bg-img">
        <app-top-navbar></app-top-navbar>
        <div style="padding: 1rem; text-align-last: center;">
            <p style="font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 18.78px;
            text-align: center;
            text-align-last: center;
            color: #FF82EB;">
                OUR PLATFORM
            </p>

            <p style="font-family: 'Raleway', sans-serif;
            font-size: 23px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            color: #000000;">
                Unlock Potential with <br> Questa Talent Solutions
            </p>

            <p style="font-family: 'Roboto', sans-serif;;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.03224727511405945px;
            text-align: center;
            color: #7E7E7E;">
                Questa’s Platform offers you access to a wide range of research-backed assessments. 
                Whether you're hiring top talent or developing future leaders, Questa ensures precision, efficiency, and
                confidence at every step.
            </p>
        </div>
        <!-- <img src="./assets/img/assessment/mobile/banner-boy.png" style="position: absolute; bottom: 0; left: 6.5rem; width: 135px;" alt=""> -->
    </div>
</section>


<section class="section-style">
    <div class="container">
        <div class="Virtual-Workshop-div">
            <div style="position: relative;">
                <span class="VirtualWorkshop-heading-text">
                    Steps to Follow
                </span>


                <div style="margin: 4rem 0;">

                    <div class="hide-mobile">
                        <div class=" learning-session-div-grid">
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 1
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Select the right assessment
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-right">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 2
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Invite candidates/employees
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-right">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 3
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Analyze results with automated insights
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-right">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-right">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 4
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Make smarter hiring & development decisions
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="show-mobile">
                        <div class="learning-session-div-grid">
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 1
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Select the right assessment
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-down">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 2
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Invite candidates/employees
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-down">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 3
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Analyze results with automated insights
                                </span>
                            </div>
                            <div class="arrow-img-div" data-aos="zoom-in-down">
                                <img src="./assets/img/certification/arrow.svg" class="arrow-img" alt="">
                            </div>
                            <div class="text-div-bg" data-aos="zoom-in-down">
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Step 4
                                </span> <br><br>
                                <span style="font-family: 'Raleway', sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: 0px;
                                color: #fff;
                                ">
                                    Make smarter hiring & development decisions
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="padding: 3rem 0; position: relative;">
                    <hr style="position: absolute; width: 100%; height: 5px; border: none; background: linear-gradient(to right, #fff 20%, #3C245B 20%, #3C245B 80%, #fff 80%);
                    top: 50px;">

                    <span class="curious">
                        Curious to See How It Works?
                    </span>
                </div>

                <div>
                    <img src="./assets/img/platform/video.svg" style="width: 100%;" alt="">
                </div>

                <br>


                <button data-aos="zoom-in-down" class="banner-btn banner-btn-position" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <span style="text-transform: uppercase;">
                        Book a demo
                    </span>
                </button>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" style="z-index: 9999999999999999999999;" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <!-- <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div> -->
                            <div class="modal-body">

                                <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdh75PWoZK1czmOXsqz_9TUTKgX0aNBO7NbAieNDC4afsIQpg/viewform?embedded=true" width="740" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
                                <iframe
                                    src="https://docs.google.com/forms/d/e/1FAIpQLSdMnkWOWT4PoIZz_QfJbJ5Dc6GItrpTDlAJAi81BlBu0cVO9A/viewform?embedded=true"
                                    width="740" height="2100" frameborder="0" marginheight="0"
                                    marginwidth="0">Loading…</iframe>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<section style="padding-bottom: 5rem; padding-top: 5rem;">
    <div class="container">
        <div style="text-align: center;">
            <img src="./assets/img/platform/key-round.svg" alt="">
        </div>
        <div style="text-align: center;">
            <span class="key-feature-text">
                Key Features & Benefits <br>
                For Entry Level Assessments
            </span>
        </div>

        <div class="row row-class">
            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Sales Cycle <br> (Functional Skills)
                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Enables organizations to assess selling capabilities across the sales funnel, from prospecting to
                    closure for entry-mid level sales professional.
                </span>
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-6 div-padding-5">
                <img src="./assets/img/platform/key-feature-1.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-6 div-padding-5 hide-mobile">
                <img src="./assets/img/platform/key-feature-2.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Leaderboard
                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Gamifies performance with a dynamic leaderboard to spotlight top talent.
                </span>
            </div>

            <div class="col-md-6 div-padding-5 show-mobile">
                <img src="./assets/img/platform/key-feature-2.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Benchmarking
                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Provides clear performance benchmarks for customized organisational competencies.
                </span>
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-6 div-padding-5">
                <img src="./assets/img/platform/key-feature-3.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-6 div-padding-5 hide-mobile">
                <img src="./assets/img/platform/key-feature-4.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Aptitude Test
                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Evaluates cognitive ability and problem-solving skills to identify the right-fit candidates.
                </span>
            </div>

            <div class="col-md-6 div-padding-5 show-mobile">
                <img src="./assets/img/platform/key-feature-4.svg" style="width: 100%;" alt="">
            </div>


            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    CoBranding Reports and Emails
                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Elevates the employer brand with personalized, co-branded communication for participants.
                </span>
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-6 div-padding-5">
                <img src="./assets/img/platform/key-feature-5.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-6 div-padding-5 hide-mobile">
                <img src="./assets/img/platform/key-feature-6.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Participant Summary
                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Delivers a holistic view of each individual’s results and potential in a single snapshot.
                </span>
            </div>

            <div class="col-md-6 div-padding-5 show-mobile">
                <img src="./assets/img/platform/key-feature-6.svg" style="width: 100%;" alt="">
            </div>

            <!-- <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Report

                </span>
                <span class="div-heading-sub-text">
                    (L2 Aptitude + Sales Cycle)
                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Whether you’re designing a simple TNI assessment or a complex Virtual Assessment Center, We
                    understand that a custom solution needs personalised pricing- already been covered, so no need
                </span>
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-6 div-padding-5">
                <img src="./assets/img/platform/key-feature-7.svg" style="width: 100%;" alt="">
            </div> -->



            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Campaign wise Excel Sheet

                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Organizes results across campaigns for easy tracking, comparison, and analytics.
                </span>
            </div>

            <div class="col-md-1 hide-mobile"></div>

            <div class="col-md-6 div-padding-5 hide-mobile">
                <img src="./assets/img/platform/campaign.svg" style="width: 100%;" alt="">
            </div>

            <div class="col-md-6 div-padding-5 show-mobile">
                <img src="./assets/img/platform/campaign.svg" style="width: 100%;" alt="">
            </div>


            <div class="col-md-6 div-padding-5">
                <img src="./assets/img/platform/key-feature-9.svg" style="width: 100%;" alt="">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    Team Members and Roles

                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Offers a clear view of who’s involved in each campaign, enabling better coordination and role-based
                    insights.
                </span>
            </div>




            <div class="col-md-5 div-padding-5">
                <span class="div-heading-text">
                    AI- Driven Interviews

                </span>
                <br>
                <span style="font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 31px;
                letter-spacing: 0%;
                vertical-align: middle;
                ">
                    Leverages smart algorithms to assess behavioral and functional fit at scale, ensuring faster,
                    bias-aware talent decisions.
                </span>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 hide-mobile" style="padding: 5rem 0; align-content: center;">
                <img src="./assets/img/platform/key-feature-10.svg" style="width: 100%;" alt="">
            </div>





            <div class="col-md-6 show-mobile" style="padding: 5rem 0; align-content: center;">
                <img src="./assets/img/platform/key-feature-10.svg" style="width: 100%;" alt="">
            </div>

        </div>
    </div>
</section>




<section style="padding-top: 5rem; padding-bottom: 5rem; background-color: #F3E8FF;">
    <div class="container">
        <div style="text-align-last: center;">
            <p class="Transforming-the-way">
                Building talent pipeline
            </p>
            <p class="Coaching-Fundamentals">
                With Questa's Platform build your <br> Talent pipeline
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-6">
                <div class="padding-2rem">
                    <img data-aos="zoom-in" src="./assets/img/platform/icon-1.svg" class="mb-4 Fundamentals-1-img "
                        alt="">

                    <p style="font-family: 'Raleway', sans-serif;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 0px;
                            ">
                        AI Interviews
                    </p>
                    <p style="font-family: 'Raleway', sans-serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #7E7E7E;
                                ">
                        Helps how a candidate thinks, decides and solves problems.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="padding-2rem">
                    <img data-aos="zoom-in" src="./assets/img/platform/icon-2.svg" class="mb-4 Fundamentals-1-img"
                        alt="">
                    <p style="font-family: 'Raleway', sans-serif;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 0px;
                            ">
                        Customised Competency Framework
                    </p>
                    <p style="font-family: 'Raleway', sans-serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #7E7E7E;
                                ">
                        We build assessments around the culture and values of your organization
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="padding-2rem">
                    <img data-aos="zoom-in" src="./assets/img/platform/icon-3.svg" class="mb-4 Fundamentals-1-img"
                        alt="">
                    <p style="font-family: 'Raleway', sans-serif;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 0px;
                            ">
                        Role-wise Assessment Stack
                    </p>
                    <p style="font-family: 'Raleway', sans-serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #7E7E7E;
                                ">
                        Curated job related questions and assessments to mirror the job performance
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="padding-2rem">
                    <img data-aos="zoom-in" src="./assets/img/platform/icon-4.svg" class="mb-4 Fundamentals-1-img"
                        alt="">
                    <p style="font-family: 'Raleway', sans-serif;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 0px;
                            ">
                        Actionable Insights
                    </p>
                    <p style="font-family: 'Raleway', sans-serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #7E7E7E;
                                ">
                        Dashboards with snapshots of potential, fit, developmental areas
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="padding-2rem">
                    <img data-aos="zoom-in" src="./assets/img/platform/icon-5.svg" class="mb-4 Fundamentals-1-img"
                        alt="">
                    <p style="font-family: 'Raleway', sans-serif;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 0px;
                            ">
                        Easy To Use and Ready to Scale
                    </p>
                    <p style="font-family: 'Raleway', sans-serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #7E7E7E;
                                ">
                        Can be integrated with your current systems
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="padding-2rem">
                    <img data-aos="zoom-in" src="./assets/img/platform/icon-6.svg" class="mb-4 Fundamentals-1-img"
                        alt="">
                    <p style="font-family: 'Raleway', sans-serif;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 0px;
                            ">
                        Tracks Growth Over Time
                    </p>
                    <p style="font-family: 'Raleway', sans-serif;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 32px;
                                letter-spacing: 0px;
                                color: #7E7E7E;
                                ">
                        Reassess training needs, or coaching to measure progress
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="scroll-section-div" style="margin-top: 5rem; margin-bottom: 5rem;">

    <div style="text-align: center; margin-bottom: 3rem;">
        <span style="font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0px;
        text-align: center;
        ">
            Clients and collaboraters
        </span>
    </div>
    <div class="scroll-container">
        <div class="scroll-item my-5">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
        </div>
        <div class="scroll-item-left my-5">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
        </div>
    </div>
</section>




<app-footer-page></app-footer-page>