<section class="hide-mobile">
    <div style="position: relative; height: 610px; background-color: #fff;">
        <app-top-navbar></app-top-navbar>
        <img src="./assets/img/pricing/banner-right.svg" style="position: absolute; right: 0; bottom: 0;" alt="">
        <div class="container" style="padding-top: 8rem;">
            <div style="text-align-last: center; padding-top: 5rem; padding-bottom: 5rem;">
                <p style="font-family: 'Raleway', sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0px;
            text-align: left; color: #FF82EB;
            ">Questa Signature Workshops</p>

                <p style="font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 60px;
                line-height: 90px;
                letter-spacing: 0px;
                text-align: center;                
            ">Creating Impactful <br> Change</p>

                <p style="font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 37px;
letter-spacing: -0.11399998515844345px;
text-align: center;
color: #7E7E7E;">
                    Foster stronger team dynamics and empathy, break down barriers with engaging activities, develop
                    intentional leaders, and <br> design personalized learning journeys tailored to each Enneagram type.
                </p>
            </div>
        </div>
        <img src="./assets/img/pricing/banner-left.svg" class="pulse" style="position: absolute; bottom: 0; left: 0;"
            alt="">



        <img src="./assets/img/pricing/banner-bottom-line.svg" style="position: absolute;bottom: -50px; width: 100%;"
            class="pulse" alt="">
    </div>
</section>

<section class="show-mobile" style="position: relative;">
    <div class="banner-bg-img">
        <app-top-navbar></app-top-navbar>
        <div style="padding: 1rem; text-align-last: center;">
            <p style="font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 18.78px;
            text-align: center;
            text-align-last: center;
            color: #FF82EB;">
                Questa Signature Workshops
            </p>

            <p style="font-family: 'Raleway', sans-serif;
            font-size: 23px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            color: #000000;">
                Creating Impactful Change
            </p>

            <p style="font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 37px;
            letter-spacing: -0.11399998515844345px;
            text-align: center;
            color: #7E7E7E;">
                Foster stronger team dynamics and empathy, break down barriers with engaging activities, develop
                intentional leaders, and design personalized learning journeys tailored to each Enneagram type.
            </p>

        </div>
        <img src="./assets/img/pricing/banner-bottom-line.svg" style="position: absolute;bottom: -50px; width: 100%;"
            class="pulse" alt="">
    </div>
</section>


<section style="padding-top: 5rem; padding-bottom: 5rem;">
    <div class="container">
        <!-- <p style="font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 30.52px;
        text-align: center;
        color: #FF82EB;">Coaching and LDPs for Progress</p>

        <p class="Questa-Coaches-can-help-text">
            Questa Coaches can help you Maximise your Potential!
        </p> -->


        <div style="padding: 1rem; margin-top: 5rem;">
            <div class="row">
                <div class="col-md-4 text-hover-div my-2" style="position: relative;">
                    <div class="show-on-hover" style="position: relative;">
                        <img src="./assets/img/workshop/img-1.svg" alt="" class="mob-width-100">
                        <div
                            style="text-align: center; position: absolute; justify-self: anchor-center; bottom: 0; left: -25px; padding: 2rem;">
                            <span style="font-family: 'Raleway', sans-serif;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 52px;
                        letter-spacing: 0px; text-align-last: center;
                        text-align: center; color: #ffffff;
                        ">
                                First-time <br>managers
                            </span> <br><br> <br>
                        </div>
                    </div>
                    <div class="show-text-on-hover"
                        style="text-align: center; padding: 2rem; position: absolute; align-content: center; top: 10px; left: 18px; height: 89%; width: 85%;">
                        <span style="
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: -0.11399998515844345px;
                            color: #FFFFFF;
                            ">
                            First-time managers must build self-awareness, decision-making, communication, and team
                            leadership skills. Questa’s psychometric assessments help identify their strengths, growth
                            areas, and leadership style early, enabling targeted development for faster, more confident
                            transitions into management roles.

                        </span>
                        <br>
                        <!-- <span style="font-family: 'Raleway', sans-serif;
                        font-size: 20.8px;
                        font-weight: 600;
                        line-height: 31.39px;
                        letter-spacing: -0.10935002565383911px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: uppercase; cursor: pointer;
                        " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Get Started
                        </span> -->
                    </div>
                </div>
                <div class="col-md-4 text-hover-div my-2" style="position: relative;">
                    <div class="show-on-hover" style="position: relative;">
                        <img src="./assets/img/workshop/img-2.svg" alt="" class="mob-width-100">
                        <div style="text-align: center;  position: absolute; bottom: 0; left: -25px; padding: 2rem;">
                            <span style="font-family: 'Raleway', sans-serif;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 52px;
                        letter-spacing: 0px; text-align-last: center;
                        text-align: center; color: #ffffff;
                        ">
                                Enhance team dynamics
                            </span> <br><br> <br>
                        </div>
                    </div>
                    <div class="show-text-on-hover"
                        style="text-align: center; padding: 2rem; position: absolute; align-content: center; top: 10px; left: 18px; height: 89%; width: 85%;">
                        <span style="
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: -0.11399998515844345px;
                            color: #FFFFFF;
                            ">
                            Enhance team dynamics with the Enneagram by uncovering individual motivations, improving
                            collaboration, managing conflict effectively, and building stronger, high-performing teams.

                        </span>
                        <br>
                        <!-- <span style="font-family: 'Raleway', sans-serif;
                        font-size: 20.8px;
                        font-weight: 600;
                        line-height: 31.39px;
                        letter-spacing: -0.10935002565383911px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: uppercase; cursor: pointer;
                        " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Get Started
                        </span> -->
                    </div>
                </div>
                <div class="col-md-4 text-hover-div my-2" style="position: relative;">
                    <div class="show-on-hover" style="position: relative;">
                        <img src="./assets/img/workshop/img-3.svg" alt="" class="mob-width-100">
                        <div style="text-align: center; position: absolute; bottom: 0; left: -25px; padding: 2rem;">
                            <span style="font-family: 'Raleway', sans-serif;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 52px;
                        letter-spacing: 0px; text-align-last: center;
                        text-align: center; color: #ffffff;
                        ">
                                Employee Well-being Programs
                            </span> <br><br> <br>
                        </div>
                    </div>
                    <div class="show-text-on-hover"
                        style="text-align: center; padding: 2rem; position: absolute; align-content: center; top: 10px; left: 18px; height: 89%; width: 85%;">
                        <span style="
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: -0.11399998515844345px;
                            color: #FFFFFF;
                            ">
                            "This workshop integrates Enneagram insights, mindfulness practices, breathwork, and simple
                            yoga exercises to help employees build self-awareness, manage stress, and enhance overall
                            wellbeing in the workplace."
                        </span>
                        <br>
                        <!-- <span style="font-family: 'Raleway', sans-serif;
                        font-size: 20.8px;
                        font-weight: 600;
                        line-height: 31.39px;
                        letter-spacing: -0.10935002565383911px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: uppercase; cursor: pointer;
                        " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Get Started
                        </span> -->
                    </div>
                </div>

                <div class="col-md-4 text-hover-div my-2" style="position: relative;">
                    <div class="show-on-hover" style="position: relative;">
                        <img src="./assets/img/coaching/img-1.svg" alt="" class="mob-width-100">
                        <div style="text-align: center; position: absolute; bottom: 0; left: -25px; padding: 2rem;">
                            <span style="font-family: 'Raleway', sans-serif;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 52px;
                        letter-spacing: 0px; text-align-last: center;
                        text-align: center; color: #ffffff;
                        ">
                                One-on-One Coaching with Enneagram Insights
                            </span> <br><br> <br>
                        </div>
                    </div>
                    <div class="show-text-on-hover"
                        style="text-align: center; padding: 2rem; position: absolute; align-content: center; top: 10px; left: 18px; height: 89%; width: 85%;">
                        <span style="
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: -0.11399998515844345px;
                            color: #FFFFFF;
                            ">
                            As a coach, tap into the core drivers of behaviour by understanding the leaders intrinsic
                            motivation, strengths and blind spots. Make the coaching session more outcome driven.

                        </span>
                        <br>
                        <!-- <span style="font-family: 'Raleway', sans-serif;
                        font-size: 20.8px;
                        font-weight: 600;
                        line-height: 31.39px;
                        letter-spacing: -0.10935002565383911px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: uppercase; cursor: pointer;
                        " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Get Started
                        </span> -->
                    </div>
                </div>
                <div class="col-md-4 text-hover-div my-2" style="position: relative;">
                    <div class="show-on-hover" style="position: relative;">
                        <img src="./assets/img/coaching/img-2.svg" alt="" class="mob-width-100">
                        <div style="text-align: center; position: absolute; bottom: 0; left: -25px; padding: 2rem;">
                            <span style="font-family: 'Raleway', sans-serif;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 52px;
                        letter-spacing: 0px; text-align-last: center;
                        text-align: center; color: #ffffff;
                        ">
                                Group Coaching with Enneagram Team Dynamics
                            </span> <br><br> <br>
                        </div>
                    </div>
                    <div class="show-text-on-hover"
                        style="text-align: center; padding: 2rem; position: absolute; align-content: center; top: 10px; left: 18px; height: 89%; width: 85%;">
                        <span style="
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: -0.11399998515844345px;
                            color: #FFFFFF;
                            ">
                            As a coach, leverage the power of the Enneagram to understand team patterns, strengths and
                            collective blind spots. Help teams understand each other’s core drivers, communication
                            styles, and decision-making biases. Build trust, empathy, and alignment to increase
                            collaboration, accountability, and performance.

                        </span>
                        <br>
                        <!-- <span style="font-family: 'Raleway', sans-serif;
                        font-size: 20.8px;
                        font-weight: 600;
                        line-height: 31.39px;
                        letter-spacing: -0.10935002565383911px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: uppercase; cursor: pointer;
                        " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Get Started
                        </span> -->
                    </div>
                </div>
                <div class="col-md-4 text-hover-div my-2" style="position: relative;">
                    <div class="show-on-hover" style="position: relative;">
                        <img src="./assets/img/coaching/img-3.svg" alt="" class="mob-width-100">
                        <div style="text-align: center; position: absolute; bottom: 0; left: -25px; padding: 2rem;">
                            <span style="font-family: 'Raleway', sans-serif;
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 52px;
                        letter-spacing: 0px; text-align-last: center;
                        text-align: center; color: #ffffff;
                        ">
                                Organizational Coaching with the Enneagram Lens
                            </span> <br><br> <br>
                        </div>
                    </div>
                    <div class="show-text-on-hover"
                        style="text-align: center; padding: 2rem; position: absolute; align-content: center; top: 10px; left: 18px; height: 89%; width: 85%;">
                        <span style="
                            font-family: 'Raleway', sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 30px;
                            letter-spacing: -0.11399998515844345px;
                            color: #FFFFFF;
                            ">
                            As a coach, use the Enneagram to decode cultural undercurrents, leadership dynamics. Help
                            leaders to understand what drives the collective mindset. Create interventions that shift
                            behavior at scale.
                        </span>
                        <br>
                        <!-- <span style="font-family: 'Raleway', sans-serif;
                        font-size: 20.8px;
                        font-weight: 600;
                        line-height: 31.39px;
                        letter-spacing: -0.10935002565383911px;
                        text-align: center;
                        color: #ffffff;
                        text-transform: uppercase; cursor: pointer;
                        " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Get Started
                        </span> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section style="margin-top: 10rem; margin-bottom: 5rem;">
    <div class="container">
        <p class="Discover-Workshops-heading" data-aos="zoom-in">Discover Workshops</p>

        <p class="Discover-Workshops-text">
            Questa specializes in delivering dynamic workshops designed to empower organizations and drive growth. Our
            workshops cover our wide <br class="hide-mobile">
            range of Impact areas. Led by experienced facilitators, our interactive sessions offer practical tools and
            strategies that can be immediately <br class="hide-mobile">
            applied in the workplace. Whether you're looking to enhance leadership effectiveness, foster collaboration,
            or develop specific skill sets <br class="hide-mobile">
            within your team, Questa's workshops provide the expertise and support you need.
        </p>

        <owl-carousel-o [options]="customOptionsDiscoverWorkshops">
            <ng-template carouselSlide>
                <div class="p-3">
                    <img src="./assets/img/talent-development/Discover-1.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="p-3">
                    <img src="./assets/img/talent-development/Discover-2.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="p-3">
                    <img src="./assets/img/talent-development/Discover-3.png" alt="">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="p-3">
                    <img src="./assets/img/talent-development/Discover-4.png" alt="">
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</section>



<section style="padding-top: 5rem; padding-bottom: 5rem;">
    <div class="container">
        <div class="testimonial-box">
            <div class="row">
                <div class="col-md-6 col-6-border-right">
                    <div class="row">
                        <div class="col-md-12 col-4">
                            <img src="./assets/img/landing/notes.svg" alt="" style="margin-bottom: 2rem;">
                        </div>
                        <div class="col-md-12 col-8">
                            <p class="testimonial-box-heading">
                                Dont take our word <br class="hide-mobile"> for it.
                            </p>
                            <p class="testimonial-box-heading">
                                Hear from Leading Industry Experts!
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div>
                        <owl-carousel-o [options]="customOptionsLandingPage">

                            <ng-template carouselSlide>
                                <div class="test-padding-1">

                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Kishore Purswani</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Ex Director HRD- BHEL</span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 36px;
                                                text-align: left;">
                                                    It was a pleasure for me and my team to attend the Enneagram
                                                    workshop. Enneagram made it possible for us to assess our strengths
                                                    and challenges and also gave us the knowledge of what we do and why
                                                    we do so. are an excellent facilitator and I can easily vouch now
                                                    that Enneagram and emotional Intelligence can help a lot more people
                                                    as the workshop has helped me and my colleagues
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Mr. Murali Ramakrishnan</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> CEO South Indian Bank
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 36px;
                                                text-align: left;">
                                                    With the intention of building a strong and cohesive leadership team
                                                    with a common purpose and vision, I was looking at a program which
                                                    is effective and definitively different from what we are familiar
                                                    with in the past. The Questa Enneagram profiling and workshop
                                                    concept were in-depth, practical and not overloaded with theory. I
                                                    found my own profile very relatable! Knowing the leaders through
                                                    their profiles and understanding the current culture, their power
                                                    motives, team dynamics, level of diversity in competencies and
                                                    thoughts was very insightful. It was a refreshing program leading to
                                                    self-awareness which helped us proceed with the transformation
                                                    journey with clear goals and outcomes
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Ravi Virwani</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> CBO, Capital India Home Loans
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    As we focussed on growing our front line sales team at a rapid pace,
                                                    we were looking for a way to identify suitable candidates in a
                                                    standardized yet scalable manner. After initial screening, we
                                                    started using the Questa QSSSR assessment to shortlist candidates
                                                    for the interview round. The simple report which encompasses the
                                                    natural flair towards sales, competencies critical for sales and
                                                    also has a built in aptitude test gives a very good insight into the
                                                    candidate suitability. It hardly took us any time to include this
                                                    assessment in our hiring process and hiring managers were able to
                                                    quickly start using these reports effectively. It definitely helped
                                                    us overcome personal bias and ensure a uniform evaluation criteria.
                                                    We have even been able to include this test for hiring our Branch
                                                    Managers. Moreover, apart from the competencies the report also
                                                    highlights the personality type which helps you to adapt a
                                                    diversified approach.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Mrinal</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Cars24 HR Head

                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    Our Pulse Survey brought out certain behavioural patterns which were
                                                    causing disconnect in a critical team. We were exploring various
                                                    interventions and came across the customized and real-time program
                                                    that QEPL had to offer. They designed a very powerful facilitated
                                                    program which helped bring a very inclusive mindset where diversity
                                                    of ideas and thoughts was appreciated. The team felt aligned to a
                                                    common mission, vision and was able to resonate with their core
                                                    strengths and challenges, understanding personality differences and
                                                    work towards a collaborative style of functioning …We have seen a
                                                    change in the pulse feedback and there has been a noticeable change
                                                    in how the team engages with cross-functional teams as well
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Colonel Naresh Rajendra Sinha</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> 22+ years in the Executive Coaching & Corporate Training space
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    A very detailed and correct assessment is the key to good hiring by
                                                    appropriate inquiry. Questa has developed tools where anyone, even
                                                    with average interviewing skills can check and select. Planning
                                                    growth of the employee by a great tool can negate biases which could
                                                    creep in. Questa assessments tick all the blocks of a wonderful
                                                    all-rounded tool.Lot of hard work and research incorporating country
                                                    specific inputs has enhanced its accuracy and reliability to be used
                                                    for multiple interventions in corporations.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Swati Singh</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Head of HR, Mobikwik
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    We partnered with Questa for the 'Accelerate 2 Grow' program for our
                                                    leaders which was very well received! Through powerful & engaging
                                                    activities, there was an immediate absorption on the need to
                                                    understand diverse perspectives while collaborating as well as
                                                    leading teams…The simplicity and relevance of the concepts helped us
                                                    create recall. One of the most interesting exercise was to
                                                    understand the Communication Styles of everyone in the room
                                                    including one-self and that was such an eye-opener and very useful
                                                    while working together! Thanks team Questa for these workshops.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Arvind Jonalgadda</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Head HR, Shriram Life Insurance Company limited
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    At SLIC, in our journey of Capability building in alignment with
                                                    future readiness and growth, we partnered with Questa Talent
                                                    Solutions since July 2023, and their expertise in psychometric
                                                    assessments, coaching, and culture-role fitment has been invaluable.
                                                    Questa Talent Solutions has been an integral part of this journey,
                                                    with multiple programs (conceptualised by SLIC and strategized and
                                                    implemented by Questa, including workshops, Talent mapping, and
                                                    coaching) that have significantly contributed towards shaping our
                                                    leadership and talent strategies, delivering real impact. With deep
                                                    behavioral insights, Questa has helped us make smarter growth
                                                    decisions. More than a service provider, they are a true partner in
                                                    building high-performing teams.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<app-footer-page></app-footer-page>