<section>
    <!-- <div data-aos="zoom-in" style="position: relative; height: 745px; background-image: url(./assets/img/talent-reimagined/profectus.png); background-size: cover;"> -->
    <app-top-navbar></app-top-navbar>
    <div data-aos="zoom-in" style="position: relative;">
        <img src="./assets/img/talent-reimagined/profectus.png" class="hide-mobile" alt=""
            style="width: 100%; position: absolute; top: 0; left: 0; z-index: -1;">

        <img src="./assets/img/talent-reimagined/mobile/banner-img.png"
            style="width: 100%; position: absolute; top: 0; left: 0; z-index: -1;" class="show-mobile" alt="">
        <div class="container padding-top-8rem">
            <div class="about-us-div">
                <p class="about-us-text" data-aos="flip-up">About us</p>

                <p class="Talent-Reimagined-text" data-aos="zoom-in">Talent <br class="show-mobile"> Reimagined</p>

            </div>
        </div>
    </div>
</section>



<section style="margin-top: 5rem; margin-bottom: 5rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/Fromthefounders.svg" style="width: 100%;"
                    alt="">
            </div>
            <div data-aos="fade-down" class="col-md-8">
                <p class="from-the-founder-text">
                    From the Founder
                </p>

                <p class="from-the-founder-sub-text">
                    Progressive cultures are usually productive places of work, where businesses have outpaced the
                    disadvantages of failing recruitment practices, and crafting employee-centric retention strategies.
                    The one differentiating factor that these organizations have is to understand the innate motivation,
                    and belief system of individuals and align them to the right role. <br class="hide-mobile">
                    <br>

                    We created Questa to empower people to take on the journey of self-awareness and transformation by
                    helping them understand their motivation and behavior with new depth & and clarity. We believe that
                    every individual possesses unique strengths and abilities, and by leveraging data-driven insights,
                    we aim to facilitate informed decision-making processes that drive personal and professional growth.
                    Our organization is committed to providing innovative and reliable Enneagram-backed assessments and
                    services to enable CEOs and senior HR leaders to Reimagine Talent. 

                </p>
            </div>
        </div>
    </div>
</section>


<section style="background-color: #F3E8FF; padding: 5rem 0; margin-top: 5rem; margin-bottom: 5rem;">
    <div class="container">

        <p class="Our-Leadership-Team-heading">
            Our Leadership Team
        </p>

        <div class="row">
            <div class="col-md-6 my-5 margin-top-bot-5">
                <div class="row member-div">
                    <div class="col-md-4 col-4 my-3">
                        <img data-aos="zoom-in" src="./assets/img/talent-reimagined/team-11.svg"
                            class="img-width-mob-100" alt="">
                    </div>
                    <div class="col-md-8 col-8 my-3">
                        <div style="padding: 1rem;">
                            <p data-aos="flip-down" class="member-name"> Lata Verghese</p>
                            <p data-aos="flip-down" class="member-name-designation">
                                Founder & CEO
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/lataverghese/">
                                    <img data-aos="flip-down" src="./assets/img/talent-reimagined/profile.svg" alt="">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="member-discription">

                            <span>
                                25+ Years Experience in Learning & Development, Coaching, Entrepreneurship,
                                Sales & Business Development
                            </span>

                            <ul style="margin-top: 2rem;">
                                <li data-aos="flip-down">
                                    Expertise in BFSI, Consulting, Tech, Start-Ups, PSUs
                                </li>
                                <li data-aos="flip-down">
                                    Expertise in BFSI, Consulting, Tech, Start-Ups, PSUs
                                    Accredited MBTI, EQi2 certified business coach
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 margin-top-bot-5">
                <div class="row" class="row member-div">
                    <div class="col-md-4 col-4 my-3">
                        <img data-aos="zoom-in" src="./assets/img/talent-reimagined/team-2.png"
                            class="img-width-mob-100" alt="">
                    </div>
                    <div class="col-md-8 col-8 my-3">
                        <div style="padding: 1rem;">
                            <p data-aos="flip-down" class="member-name"> Raji Verghese</p>
                            <p data-aos="flip-down" class="member-name-designation">
                                Co-Founder & MD
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/rajiverghese/">
                                    <img data-aos="flip-down" src="./assets/img/talent-reimagined/profile.svg" alt="">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="member-discription">25+ Years Experience in Entrepreneurship, Leading Businesses,
                            Sales & BD

                            <ul style="margin-top: 2rem;">
                                <li data-aos="flip-down">
                                    Expertise in BFSI, FinTech, FMCG, Start-Ups
                                </li>
                                <li data-aos="flip-down">
                                    Alumnus of IMT Ghaziabad
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-6 margin-top-bot-5">
                <div class="row" class="row member-div">
                    <div class="col-md-4 col-4 my-3">
                        <img data-aos="zoom-in" src="./assets/img/talent-reimagined/team-3.png"
                            class="img-width-mob-100" alt="">
                    </div>
                    <div class="col-md-8 col-8 my-3">
                        <div style="padding: 1rem;">
                            <p data-aos="flip-down" class="member-name"> Rajesh Batra</p>
                            <p data-aos="flip-down" class="member-name-designation">
                                Chief Information Officer
                            </p>
                            <p>
                                <img data-aos="flip-down" src="./assets/img/talent-reimagined/profile.svg" alt="">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="member-discription">
                            25+ Years Experience in Digital Transformation/Automation ; BI Analytics, Mobility, Cloud &
                            IoT

                            <ul style="margin-top: 2rem;">
                                <li data-aos="flip-down">
                                    Expertise in Healthcare, BFSI
                                </li>
                                <li data-aos="flip-down">
                                    Alumnus of IMT Ghaziabad
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-md-6 margin-top-bot-5">
                <div class="row" class="row member-div">
                    <div class="col-md-4 col-4 my-3">
                        <img data-aos="zoom-in" src="./assets/img/talent-reimagined/team-5.svg"
                            class="img-width-mob-100" alt="">
                    </div>
                    <div class="col-md-8 col-8 my-3">
                        <div style="padding: 1rem;">
                            <p data-aos="flip-down" class="member-name"> Sachin Khandelwal</p>
                            <p data-aos="flip-down" class="member-name-designation">
                                Strategic Advisor
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/sachin-khandelwal-1a189a77/">
                                    <img data-aos="flip-down" src="./assets/img/talent-reimagined/profile.svg" alt="">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="member-discription">
                            Worked with Godrej & Boyce, Nokia Pagers, Honda Cars, ICICI Bank and Magma Fincorp across
                            four industries :

                            <ul style="margin-top: 2rem;">
                                <li data-aos="flip-down">
                                    Office Equipment - 3 years
                                </li>
                                <li data-aos="flip-down">
                                    Telecommunications (Paging) - 1 year
                                </li>
                                <li data-aos="flip-down">
                                    Automobiles (Car Sales and Marketing) - 4 years
                                </li>
                                <li data-aos="flip-down">
                                    Retail Banking - 17 years (overall)
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 margin-top-bot-5">
                <div class="row" class="row member-div">
                    <div class="col-md-4 col-4 my-3">
                        <img data-aos="zoom-in" src="./assets/img/talent-reimagined/team-6.svg"
                            class="img-width-mob-100" alt="">
                    </div>
                    <div class="col-md-8 col-8 my-3">
                        <div style="padding: 1rem;">
                            <p data-aos="flip-down" class="member-name"> Gautam Mehra</p>
                            <p data-aos="flip-down" class="member-name-designation">
                                Principal Consultant
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/gautam-mehra-0855137/">
                                    <img data-aos="flip-down" src="./assets/img/talent-reimagined/profile.svg" alt="">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="member-discription">
                            With close to 3 decades of diverse experience across different sectors like BFSi, ITEs, and
                            BPO. His expertise lies in organisation development, talent management and capability
                            development. Gautam is a certified ICF coach and has championed Culture and people
                            infrastructure practices
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-6 margin-top-bot-5">
                <div class="row" class="row member-div">
                    <div class="col-md-4 col-4 my-3">
                        <img data-aos="zoom-in" src="./assets/img/talent-reimagined/team-5.png"
                            class="img-width-mob-100" alt="">
                    </div>
                    <div class="col-md-8 col-8 my-3">
                        <div style="padding: 1rem;">
                            <p data-aos="flip-down" class="member-name"> Sukriti Saraswat</p>
                            <p data-aos="flip-down" class="member-name-designation">
                                AVP Client Engagement and Recruitment
                            </p>
                            <p>
                                <img data-aos="flip-down" src="./assets/img/talent-reimagined/profile.svg" alt="">
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <div class="member-discription">
                            7+ Years of experience in Human Resource Development

                            <ul style="margin-top: 2rem;">
                                <li data-aos="flip-down">
                                    Expertise in Healthcare, BFSI
                                </li>
                                <li data-aos="flip-down">
                                    Alumnus of Asian Business School
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>


<section style="margin-top: 5rem; margin-bottom: 5rem;">
    <div class="container">
        <p data-aos="flip-down" style="font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 30.52px;
        text-align: center;
        color: #FF82EB;">
            The Path of Action
        </p>

        <p class="Our-Philosophy-text" data-aos="flip-down">
            Our Philosophy
        </p>

        <div style="text-align: center; padding: 3rem 0;">
            <img data-aos="fade-up" class="img-width-mob-100" src="./assets/img/talent-reimagined/OurPhilosophy.png"
                alt="">
        </div>


        <!-- <p style="font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: -0.2999999523162842px;
        text-align: center;
        padding: 3rem 0;
        color: #000000;">
            At Questa, our philosophy revolves around empowering individuals to ignite transformative change in both
            their professional and personal spheres. We believe in catalyzing a deliberate shift from reluctance to a
            state of profound understanding. Starting with awareness where we illuminate strengths, challenges, and
            gaps. This journey then leads to the pivotal step of acceptance—an empowering process where individuals and
            organizations bravely acknowledge their imperfections, recognize need for change, and triumphantly overcome
            resistance or denial to embrace their true selves. Finally, action takes center stage, where we translate
            insights into tangible results through the implementation of strategic initiatives and transformative
            endeavors. The Questa Philosophy propels individuals and organizations toward a future defined by boundless
            possibility and unparalleled success all culminating in remarkable growth.
        </p> -->

        <div style="position: relative;">

            <div #content class="note-field" [class.show]="show" [class.note-text]="content.scrollHeight > 18">
                <span class="note" style="font-family: 'Raleway', sans-serif;
            font-size: 24px;
            font-weight: 300;
            line-height: 38px;
            letter-spacing: -0.2999999523162842px;
            text-align: center;
            padding: 3rem 0;
            color: #000000;"></span>
                <span>{{ data.note }}</span>
            </div>
            <span style="font-weight: 600; position: absolute; bottom: 8px; right: 5px; cursor: pointer;"
                *ngIf="content.scrollHeight > 18" class="show-button hide-mobile-btn" (click)="show = !show">
                {{ show ? 'Show less' : 'Show more' }}
            </span>
        </div>



    </div>

    <div class="container my-5">
        <div id="video-box" class="youtube-container">
            <iframe id="i_video" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</section>



<section class="our-value-ststem-section">
    <div class="container">

        <p class="Our-Philosophy-text" data-aos="flip-down">
            Our Value System
        </p>


        <div class="row">
            <div class="col-md-6 my-3" data-aos="flip-down">
                <div style="background: #603F87; border-radius: 20px;">

                    <div class="row" style="align-items: center;">
                        <div class="col-md-4 col-4">
                            <div class="img-div-light">
                                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/light.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 col-8">
                            <span class="Innovation-text-heading">
                                Innovation & Simplify
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 my-3" data-aos="flip-down">
                <div style="background: #603F87; border-radius: 20px;">

                    <div class="row" style="align-items: center;">
                        <div class="col-md-4 col-4">
                            <div class="img-div-light">
                                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/check.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 col-8">
                            <span class="Innovation-text-heading">
                                Execution Excellence
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 my-3" data-aos="flip-down">
                <div style="background: #603F87; border-radius: 20px;">

                    <div class="row" style="align-items: center;">
                        <div class="col-md-5 col-5">
                            <div class="img-div-light">
                                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/agility.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-7">
                            <span class="Innovation-text-heading">
                                Agility
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-3" data-aos="flip-down">
                <div style="background: #603F87; border-radius: 20px;">

                    <div class="row" style="align-items: center;">
                        <div class="col-md-5 col-5">
                            <div class="img-div-light">
                                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/trust.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-7">
                            <span class="Innovation-text-heading">
                                Building Trust
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-3" data-aos="flip-down">
                <div style="background: #603F87; border-radius: 20px;">

                    <div class="row" style="align-items: center;">
                        <div class="col-md-5 col-5">
                            <div class="img-div-light">
                                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/Inclusivity.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-7">
                            <span class="Innovation-text-heading">
                                Inclusivity
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 my-3" data-aos="flip-down">
                <div style="background: #603F87; border-radius: 20px;">

                    <div class="row" style="align-items: center;">
                        <div class="col-md-4 col-4">
                            <div class="img-div-light">
                                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/curious.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 col-8">
                            <span class="Innovation-text-heading">
                                Learn & be curious
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 my-3" data-aos="flip-down">
                <div style="background: #603F87; border-radius: 20px;">

                    <div class="row" style="align-items: center;">
                        <div class="col-md-4 col-4">
                            <div class="img-div-light">
                                <img data-aos="zoom-in" src="./assets/img/talent-reimagined/Centricity.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-8 col-8">
                            <span class="Innovation-text-heading">
                                Value Centricity
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="scroll-section-div">
    <div class="scroll-container">
        <div class="scroll-item my-5">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
        </div>
        <div class="scroll-item-left my-5">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
            <img class="logo-list-img" src="./assets/img/talent-development/logo-list-c.png" alt="Long Image">
        </div>
    </div>
</section>



<section style="padding-top: 5rem; padding-bottom: 5rem;">
    <div class="container">
        <p class="Work-Opportunities-with-Questa">
            Work Opportunities with Questa
        </p>

        <div class="row">
            <div class="col-md-6 my-3" data-aos="flip-down">
                <div>
                    <img src="./assets/img/talent-reimagined/WorkOpportunities-1.png" class="img-width-mob-100" alt="">
                </div>
            </div>

            <div class="col-md-6 my-3" data-aos="flip-down">
                <div>
                    <img src="./assets/img/talent-reimagined/WorkOpportunities-2.png" class="img-width-mob-100" alt="">
                </div>
            </div>

            <div class="col-md-6 my-3" data-aos="flip-down">
                <div>
                    <img src="./assets/img/talent-reimagined/WorkOpportunities-3.png" class="img-width-mob-100" alt="">
                </div>
            </div>

            <div class="col-md-6 my-3" data-aos="flip-down">
                <div>
                    <img src="./assets/img/talent-reimagined/WorkOpportunities-4.png" class="img-width-mob-100" alt="">
                </div>
            </div>

            <div class="col-md-12 my-5" style="text-align: center;">
                <button class="banner-btn">
                    <a href="https://www.linkedin.com/company/questa-in/jobs/" style="text-decoration: none;"
                        target="_blank">
                        <span>
                            Apply now with us
                        </span>
                    </a>
                </button>
            </div>

        </div>
    </div>
</section>


<!-- <section style="background-color: #F3E8FF; padding: 5rem 0; margin-top: 5rem; margin-bottom: 5rem;">
    <div class="container">
        <p style="font-family: 'Raleway', sans-serif;
        font-size: 52px;
        font-weight: 600;
        line-height: 60px;
        text-align: center;
        color: #000000;
        ">
            People behind the scenes
        </p>

        <div class="row my-5">
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img data-aos="zoom-in" src="./assets/img/talent-reimagined/people-1.png" alt="">

                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 38px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: center;
                    padding-top: 2rem;
                    ">
                        Sukriti Saraswat
                    </p>

                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 38px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: center;
                    color: #000000;
                    ">
                        Assistant VP
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div style="text-align: center;">
                    <img data-aos="zoom-in" src="./assets/img/talent-reimagined/people-2.png" alt="">

                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 38px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: center;
                    padding-top: 2rem;
                    ">
                        Arshiya Ranger
                    </p>

                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 38px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: center;
                    color: #000000;
                    ">
                        AM Recruitment & Marketing
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div style="text-align: center;">
                    <img data-aos="zoom-in" src="./assets/img/talent-reimagined/people-3.png" alt="">

                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 38px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: center;
                    padding-top: 2rem;
                    ">
                        Ayush Jindal
                    </p>

                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 38px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: center;
                    color: #000000;
                    ">
                        Senior Manager - Sales
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->




<!-- <section style="padding-bottom: 5rem;">
    <div class="container">
        <div style="border: 2px solid #FF82EB; border-radius: 20px; padding: 5rem 3rem;">
            <div class="row">
                <div class="col-md-6" style="border-right: 2px solid #FF82EB; padding: 2rem;">
                    <img data-aos="zoom-in" src="./assets/img/landing/notes.svg" alt="" style="margin-bottom: 2rem;">

                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 70px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: left;
                    color: #FF82EB;">
                        Dont take our word <br> for it.
                    </p>
                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 70px;
                    letter-spacing: -0.2999999523162842px;
                    text-align: left;
                    color: #FF82EB;">
                        Hear from Leading Industry Experts!
                    </p>
                </div>
                <div class="col-md-6">
                    <div>
                        <owl-carousel-o [options]="customOptionsLandingPage">
                            <ng-template carouselSlide>
                                <div style="padding: 1rem;">
                                    <div style="padding: 2rem;">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    ">Paramdeep Singh Anand</span> <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">CEO - Field Assist</span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 50px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 20px;
                                                font-weight: 400;
                                                line-height: 36px;
                                                text-align: left;">
                                                    What Questa offers is the ideal combination of discovering
                                                    personality
                                                    and competencies to assess a candidate’s capability and more
                                                    importantly
                                                    fitment in the company culture. It has been an absolute delight
                                                    working
                                                    with them fueling our next phase of growth.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 50px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div style="padding: 1rem;">
                                    <div style="padding: 2rem;">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    ">Paramdeep Singh Anand</span> <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">CEO - Field Assist</span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 50px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 20px;
                                                font-weight: 400;
                                                line-height: 36px;
                                                text-align: left;">
                                                    What Questa offers is the ideal combination of discovering
                                                    personality
                                                    and competencies to assess a candidate’s capability and more
                                                    importantly
                                                    fitment in the company culture. It has been an absolute delight
                                                    working
                                                    with them fueling our next phase of growth.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 50px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>

                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<app-footer-page></app-footer-page>