.banner-big-text {
    font-family: 'Raleway', sans-serif;
    font-size: 102px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}

.banner-small-text {
    font-family: 'Raleway', sans-serif;
    font-size: 82px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}

.banner-long-text {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.11399998515844345px;
    text-align: center;
    color: #fff;
}

.banner-btn {
    background: #7A1AF0;
    border: 2px solid white;
    outline: 5px solid #7A1AF0;
    border-radius: 70px;
    padding: 1rem 9rem;
}

.banner-btn span {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: -0.10799998790025711px;
    text-align: center;
    color: #fff;
}

.being-investing-tabs-header-text {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.being-investing-tabs-sub-header-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.Assessment-Products-div {
    background: #442964;
    border-radius: 10px;
    padding: 2rem;
}

.Assessment-Products-div-img {
    display: flex;
    justify-content: space-between;
    place-items: center;
    height: 80px;
    margin-bottom: 3rem;
}

.number-count {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: 0px;
    text-align: left;
    color: #603F87;
}

.number-count-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.padding-2rem {
    padding: 2rem;
}

.object-2 {
    position: absolute;
    left: 40px;
    bottom: -60px;
}

.how-we-have {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.at-questa {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.11399998515844345px;
    text-align: center;
    color: #7E7E7E;
}

.how-we-have-box-text {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.11399998515844345px;
    text-align: left;
    color: #ffffff;
}

.our-approach {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}

.Performance-grid {
    display: grid;
    grid-template-columns: 17% 6.6% 17% 6.6% 23% 6.6% 23%;
    align-items: center;
    padding: 3rem 0;
}

.our-approach-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}

.object-1 {
    position: absolute;
    right: 0;
    top: -40px;
}

.section-hw {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.over-15 {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: -0.11399998515844345px;
    text-align: center;
    color: #603F87;
}

.section-hw-n {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(68.36deg, #F3E8FF 0%, rgba(243, 232, 255, 0) 124.56%);
}

.Assessment-Products-div-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.11399998515844345px;
    text-align: left;
    color: #ffffff;
}

.Assessment-Products-div-sub-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.11399998515844345px;
    text-align: left;
    color: #F5EDFF;
}

.test-teken-text {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: -0.11399998515844345px;
    text-align: center;
    color: #603F87;
    padding: 0 2rem;
}

.section-video {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.Predict-the {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF82EB;
}

.With-Questa-accurately {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 74px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.padding-23 {
    padding: 2.3rem;
}

.Predict-img {
    width: 85px;
    margin-bottom: 1.5rem;
}


.Predict-img-text {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}

.section-predict {
    padding-top: 8rem;
    padding-bottom: 8rem;
}


// testimonial css

.testimonial-box {
    border: 2px solid #FF82EB;
    border-radius: 20px;
    padding: 5rem 3rem;
}

.col-6-border-right {
    border-right: 2px solid #FF82EB;
    padding: 2rem;
}

.testimonial-box-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.2999999523162842px;
    text-align: left;
    color: #FF82EB;
}

.test-padding-1 {
    padding: 1rem;
}

.test-padding-2 {
    padding: 2rem;
}

// testimonial css

.scroll-container {
    width: 100%;
    overflow: hidden;
}

.scroll-item {
    display: flex;
    animation: scroll 40s linear infinite;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    transition: 0.5s;
}

.scroll-item:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}


.scroll-item-left {
    display: flex;
    animation: scroll-left 40s linear infinite;
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    transition: 0.5s;
}

.scroll-item-left:hover {
    display: flex;
    animation: scroll-left 40s linear infinite;
    -webkit-filter: grayscale(0);
    filter: none;
}

@keyframes scroll-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}






[data-aos="example-anim1"] {
    transform: skewX(45deg);
    opacity: 0;
    transition-property: transform, opacity;

    &.aos-animate {
        transform: skewX(0);
        opacity: 1;
    }
}

[data-aos="example-anim2"] {
    background: red;
    transition-property: background;

    &.aos-animate {
        background: green;
    }
}

[data-aos="example-anim3"] {
    transform: rotate(360deg);
    opacity: 0;
    transition-property: transform, opacity;

    &.aos-animate {
        transform: rotate(0);
        opacity: 1;
    }
}




.slider-text {
    font-family: 'Raleway', sans-serif;
    font-size: 84px;
    font-weight: 700;
    line-height: 98.62px;
    text-align: left;
    color: #603F87;
}

.slider.slick-prev {
    display: none !important;
}



.youtube-container {
    overflow: hidden;
    width: 100%;
    /* Keep it the right aspect-ratio */
    aspect-ratio: 16/9;
    /* No clicking/hover effects */
    pointer-events: fill;

    border-radius: 20px;

    iframe {
        /* Extend it beyond the viewport... */
        width: 300%;
        height: 100%;
        /* ...and bring it back again */
        margin-left: -100%;
    }
}

.card-on-hover {
    transition-duration: 0.2s;
}

.card-on-hover:hover {
    transform: scale(1.03);
    transition-duration: 0.2s;
}


#loading {
    display: inline-block;
    animation: rotation 10s infinite ease-out;
}

@keyframes rotation {
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.swing {
    transform-origin: bottom center;
    animation: swing 5s ease infinite;
}

@keyframes swing {
    20% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.pulse {
    animation: pulse 2s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    to {
        transform: scale(1.1);
    }
}



.bounce {
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-10%);
    }

    //   90% { transform:translateY(0%); }
    //   100% { transform:translateY(-15%); }
}















/* width */
#exampleModal ::-webkit-scrollbar {
    width: 15px;
}

/* Track */
#exampleModal ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
#exampleModal ::-webkit-scrollbar-thumb {
    background: #603F87;
    border-radius: 10px;
}

/* Handle on hover */
#exampleModal ::-webkit-scrollbar-thumb:hover {
    background: #9449EE;
}





.show-mobile {
    display: none;
}

.hide-mobile {
    display: block;
}

.text-right-center {
    text-align: right;
}

.secion-p-y-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.The-science-behind {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #FF82EB;
}


.new-age-platform {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;
}

.that-identifies-nine {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 72px;
    letter-spacing: 0px;
    color: #000;
}

.The-Enneagram-is {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 62px;
    letter-spacing: 0px;
    color: #000;
}


.scrolling-text-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 53.68px;
    text-align: right;
    color: #000000;
    text-wrap: nowrap;
}

.our-prcing-packages {
    text-align: center;
    padding-bottom: 5rem;
}

.our-prcing-packages p {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: center;
}

.margin-bottom-5rem {
    margin-bottom: 5rem;
}

.secion-p-y-m-5 {
    padding: 5rem 0;
    margin-bottom: 5rem;
}

.linesvg-margin {
    margin-bottom: 3rem;
}

.take-demo-assessment {
    text-align-last: center;
    padding-top: 40px;
    padding-bottom: 8rem;
}

.slider {
    margin-left: 2rem;
    width: 600px;
}

.line-icon {
    padding: 0 2rem;
}

.padding-4 {
    padding: 4rem;
}

.Supercharge {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: -0.2999999523162842px;
    text-align: center;
    color: #000000;
}

.assessment-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
}

.section-padding-top-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.Services-we-offer {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
}

.padding-y-5 {
    padding: 5rem 0;
}

.Executive-Search {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
}

.check-out {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2999999523162842px;
    text-align: center;
    color: #7E7E7E;
}

.logo-img {
    padding-top: 3rem;
}

.From-Insight {
    font-family: 'Raleway', sans-serif;
    font-size: 58px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -0.2999999523162842px;
    text-align: center;
    color: #FF82EB;
}

.MasterYour {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -0.2999999523162842px;
    text-align: center;
    color: #FF82EB;
}

.Most-in-depth {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: -0.2999999523162842px;
    text-align: center;
    color: #000000;
}

.section-y-how-we-have {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.up-scroll-words-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.up-scroll-words-section-inner {
    text-align: center;
    padding: 5rem 0;
}

@media (max-width: 414px) and (min-width: 300px) {
    .banner-bg-img {
        padding: 6rem 0 0rem 0;
        background-image: url('/assets/img/landing/mobile/banner-bg.png');
        height: 500px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (max-width: 416px) and (min-width: 413px) {
    .banner-bg-img {
        padding: 6rem 0 0rem 0;
        background-image: url('/assets/img/landing/mobile/banner-bg.png') !important;
        height: 576px !important;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (max-width: 429px) and (min-width: 427px) {
    .banner-bg-img {
        padding: 6rem 0 0rem 0;
        background-image: url('/assets/img/landing/mobile/banner-bg.png');
        height: 594px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (max-width: 394px) and (min-width: 392px) {
    .banner-bg-img {
        padding: 6rem 0 0rem 0;
        background-image: url('/assets/img/landing/mobile/banner-bg.png');
        height: 546px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (max-width: 385px) and (min-width: 383px) {
    .banner-bg-img {
        padding: 6rem 0 0rem 0;
        background-image: url('/assets/img/landing/mobile/banner-bg.png');
        height: 533px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (max-width: 992px) and (min-width: 279px) {
    .show-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

    .up-scroll-words-section {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .up-scroll-words-section-inner {
        text-align: center;
        padding: 1rem 0;
    }

    .types-container {
        width: 360px !important;
        height: 360px !important;
        margin: 0 auto;
        z-index: 1
    }

    .img-circle-0 {
        margin: 2rem 0;
    }

    .banner-btn span {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.10799998790025711px;
        text-align: center;
        color: #fff;
    }

    .width-mob-100 {
        width: 100%;
    }

    .dis-flex-mob {
        display: flex;
    }

    .padding-4 {
        padding: 1rem;
    }

    .Supercharge {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 38px;
        letter-spacing: -0.2999999523162842px;
        text-align: center;
        color: #000000;
    }

    .assessment-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 52px;
        letter-spacing: 0px;
        text-align: center;
        color: #000000;
    }

    .text-right-center {
        text-align: center;
    }

    .scrolling-text-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 53.68px;
        text-align: center;
        color: #000000;
        text-wrap: nowrap;
    }

    .our-prcing-packages {
        text-align: center;
        padding-bottom: 1rem;
    }

    .our-prcing-packages p {
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 32px;
        line-height: 52px;
        letter-spacing: 0px;
        text-align: center;
    }

    .new-age-platform {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 45px;
        letter-spacing: 0px;
        text-align: center;
    }

    .that-identifies-nine {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0px;
        color: #000;
    }

    .The-Enneagram-is {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0px;
        color: #000;
    }

    .The-science-behind {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0px;
        color: #FF82EB;
    }

    .margin-bottom-5rem {
        margin-bottom: 1rem;
    }

    .secion-p-y-m-5 {
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

    .secion-p-y-5 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .linesvg-margin {
        margin-bottom: 1rem;
    }

    .take-demo-assessment {
        text-align-last: center;
        padding-top: 40px;
        padding-bottom: 3rem;
    }

    .section-y-how-we-have {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .Assessment-Products-div-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -0.11399998515844345px;
        text-align: left;
        color: #ffffff;
    }

    .Assessment-Products-div-sub-heading {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.11399998515844345px;
        text-align: left;
        color: #F5EDFF;
    }

    .Assessment-Products-div-img {
        display: flex;
        justify-content: space-between;
        place-items: center;
        height: 40px;
        margin-bottom: 1rem;
    }

    .Assessment-Products-div-img img {
        height: 35px;
    }

    .div-size {
        height: 300px;
    }

    .number-count {
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 117px;
        letter-spacing: 0px;
        text-align: left;
        color: #603F87;
    }

    .number-count-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        color: #000000;
    }

    .padding-2rem {
        padding: 0 2rem;
    }

    .object-2 {
        position: absolute;
        left: 40px;
        bottom: -30px;
        height: 70px;
    }

    .how-we-have {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: center;
        color: #000000;
    }

    .at-questa {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.11399998515844345px;
        text-align: center;
        color: #7E7E7E;
    }

    .how-we-have-box-text {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.11399998515844345px;
        text-align: left;
        color: #ffffff;
    }

    .our-approach {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
        color: #000000;
    }

    .Performance-grid {
        display: grid;
        grid-template-columns: 17% 6.6% 17% 6.6% 23% 6.6% 23%;
        align-items: center;
        padding: 1rem 0;
    }

    .our-approach-text {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #000000;
    }


    .section-hw {
        padding-top: 5rem;
        padding-bottom: 0rem;
    }

    .over-15 {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.11399998515844345px;
        text-align: center;
        color: #603F87;
    }

    .section-hw-n {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background: linear-gradient(68.36deg, #F3E8FF 0%, rgba(243, 232, 255, 0) 124.56%);
    }

    .object-1 {
        position: absolute;
        right: 0;
        top: -40px;
        width: 75px;
    }

    .From-Insight {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.2999999523162842px;
        text-align: center;
        color: #FF82EB;
    }

    .MasterYour {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.2999999523162842px;
        text-align: center;
        color: #FF82EB;
    }

    .Most-in-depth {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: -0.2999999523162842px;
        text-align: center;
        color: #000000;
    }

    .section-padding-top-5 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .Services-we-offer {
        font-family: 'Raleway', sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: center;
        color: #000000;
        margin-bottom: 2rem;
    }

    .padding-y-5 {
        padding: 1rem 0;
    }

    .Executive-Search {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 0px;
        text-align: center;
    }

    .check-out {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: -0.2999999523162842px;
        text-align: center;
        color: #7E7E7E;
    }

    .logo-img {
        padding-top: 0.5rem;
        height: 25px;
    }

    .scroll-item img {
        height: 4rem;
    }

    .scroll-item-left img {
        height: 4rem;
    }

    .scroll-item-left {
        animation: scroll-left 5s linear infinite;
    }

    .scroll-item {
        animation: scroll 5s linear infinite;
    }

    .test-teken-text {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.11399998515844345px;
        text-align: center;
        color: #603F87;
        padding: 0;
    }

    .section-video {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .With-Questa-accurately {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
        color: #000000;
    }

    .padding-23 {
        padding: 0.5rem;
    }

    .Predict-img-text {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #000000;
    }

    .Predict-img {
        width: 50px;
        margin-bottom: 0.5rem;
    }

    .section-predict {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    // testimonial css start
    .testimonial-box {
        border: 2px solid #FF82EB;
        border-radius: 20px;
        padding: 1rem 1rem;
    }

    .col-6-border-right {
        border-right: none;
        padding: 1rem;
    }

    .testimonial-box-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.2999999523162842px;
        text-align: left;
        color: #FF82EB;
    }

    .test-padding-1 {
        padding: 0rem;
    }

    .test-padding-2 {
        padding: 0.5rem;
    }

    // testimonial css end

    .slider-text {
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 98.62px;
        text-align: center;
        color: #603F87;
    }

    .slider {
        margin-left: 0;
        width: 100%;
    }

    .banner-btn {
        background: #7A1AF0;
        border: 2px solid white;
        outline: 5px solid #7A1AF0;
        border-radius: 70px;
        padding: 0.5rem 2rem;
    }

    .line-icon {
        padding: 0;
        width: 75%;
    }


}


















.img-responsive {
    display: block;
    height: auto;
    max-width: 100%
}

.p-relative,
.relative {
    position: relative
}

.absolute,
.p-absolute {
    position: absolute
}

.types-container {
    width: 462px;
    height: 462px;
    margin: 0 auto;
    z-index: 1
}

.types-container img {
    z-index: 2;
    top: 0;
    left: 0
}

.types-container ul {
    list-style: none;
    z-index: 3
}

.types-container ul li {
    font-size: 2rem;
    z-index: 4;
    margin: 0;
    padding: 0
}

.types-container ul li a {
    width: 100px;
    height: 75px;
    display: block;
    font-weight: 600;
    color: #fff;
    text-decoration: none
}

.types-container ul li a:hover {
    cursor: pointer
}

.types-container ul li#type-1 {
    right: 18%;
    top: 14%;
    rotate: 36deg;
}

.types-container ul li#type-1 a:hover+.type-1-text {
    display: block !important
}

.types-container ul li#type-2 {
    right: 5.4%;
    top: 35%;
    rotate: 77deg
}

.types-container ul li#type-3 {
    right: 9.5%;
    top: 59%;
    rotate: 120deg
}

.types-container ul li#type-4 {
    right: 28%;
    bottom: 9.5%;
    rotate: 156deg
}

.types-container ul li#type-5 {
    left: 27%;
    bottom: 10.5%;
    rotate: -156deg
}

.types-container ul li#type-6 {
    left: 8.5%;
    top: 59%;
    rotate: -120deg
}

.types-container ul li#type-7 {
    left: 4.4%;
    top: 35%;
    rotate: -77deg
}

.types-container ul li#type-8 {
    left: 17%;
    top: 15%;
    rotate: -40deg
}

.types-container ul li#type-9 {
    right: 39%;
    top: 31px;
}

.types-container .type-text {
    width: 50%;
    top: 32%;
    left: 25%;
    z-index: 10
}

.types-container .type-text .type-intro-text {
    min-height: 170px;
    width: 100%;
    padding-top: 50px
}

.types-container .type-text .type-intro-text .arrow {
    left: 160px;
    top: -30px;
    width: 35px
}

.types-container .type-text .type-1-text strong {
    color: #FF8A58;
    font-size: 1.25em;
}

.types-container .type-text .type-2-text strong {
    color: #6FD592;
    font-size: 1.25em
}

.types-container .type-text .type-3-text strong {
    color: #3EA03C;
    font-size: 1.25em
}

.types-container .type-text .type-4-text strong {
    color: #286A1E;
    font-size: 1.25em
}

.types-container .type-text .type-5-text strong {
    color: #82B4FF;
    font-size: 1.25em
}

.types-container .type-text .type-6-text strong {
    color: #8287FF;
    font-size: 1.25em
}

.types-container .type-text .type-7-text strong {
    color: #AA82FF;
    font-size: 1.25em
}

.types-container .type-text .type-8-text strong {
    color: #EB5555;
    font-size: 1.25em
}

.types-container .type-text .type-9-text strong {
    color: #D52A2A;
    font-size: 1.25em
}



.types-container .type-text .type-1-text,
.types-container .type-text .type-2-text,
.types-container .type-text .type-3-text,
.types-container .type-text .type-4-text,
.types-container .type-text .type-5-text,
.types-container .type-text .type-6-text,
.types-container .type-text .type-7-text,
.types-container .type-text .type-8-text,
.types-container .type-text .type-9-text {
    padding: 1rem;
}




@media screen and (max-width: 600px) {
    #ennea-9-types .types-container {
        width: 360px;
        height: 360px
    }

    #ennea-9-types .types-container ul li {
        font-size: 1.5rem
    }

    #ennea-9-types .types-container ul li a {
        width: 90px;
        height: 45px
    }

    #ennea-9-types .types-container .type-text.text-large {
        font-size: .95em;
        top: 25%
    }

    #ennea-9-types .types-container .type-text.text-large .type-intro-text .arrow {
        left: 110px;
        top: 0
    }

    #ignite .container {
        background-position: center 50%
    }
}