<section class="hide-mobile">
    <div
        style="position: relative; height: 640px; background-image: url(./assets/img/talent-development/banner-bg.svg);">
        <app-top-navbar></app-top-navbar>
        <img src="./assets/img/search-executive/banner-img.png" data-aos="zoom-in"
            style="position: absolute; right: 0; bottom: 0;" alt="">
        <div class="container" style="padding-top: 8rem;">
            <div style="text-align-last: center; padding-top: 5rem; padding-bottom: 5rem;">
                <p style="font-family: 'Raleway', sans-serif;
            font-size: 26px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0px;
            text-align: left; color: #FF82EB;
            " data-aos="flip-up">Executive Search</p>

                <p data-aos="flip-up" style="font-family: 'Raleway', sans-serif;
            font-size: 60px;
            font-weight: 600;
            line-height: 52px;
            letter-spacing: 0px;
            text-align: center; color: #000000;
            ">Where Talent meets Opportunity</p>

                <p data-aos="flip-down" style="font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 37px;
            letter-spacing: -0.11399998515844345px;
            text-align: center;
            color: #7E7E7E;">
                    A boutique search firm focusing on Talent Acquisition by Bringing clients and candidates <br>
                    together. Our Objective solutions complement the requirements of both start-ups and <br>
                    well-established companies. Through Market Expertise and innovative methodologies, <br>
                    we assure Quality and Efficiency for all our Client’s hiring needs.
                </p>

            </div>
            <div style="text-align-last: center; padding-top: 40px;">
                <button class="banner-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span>
                        Speak with us
                    </span>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" style="z-index: 9999999999999999999999;" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
                        <div class="modal-body">

                            <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdh75PWoZK1czmOXsqz_9TUTKgX0aNBO7NbAieNDC4afsIQpg/viewform?embedded=true" width="740" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
                            <iframe
                                src="https://docs.google.com/forms/d/e/1FAIpQLSdMnkWOWT4PoIZz_QfJbJ5Dc6GItrpTDlAJAi81BlBu0cVO9A/viewform?embedded=true"
                                width="740" height="2100" frameborder="0" marginheight="0"
                                marginwidth="0">Loading…</iframe>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <img src="./assets/img/search-executive/banner-obj.png" class="bounce2"
            style="position: absolute; bottom: 0; left: 0;" alt="">
    </div>
</section>

<section class="show-mobile" style="position: relative;">
    <div class="banner-bg-img">
        <app-top-navbar></app-top-navbar>
        <div style="padding: 1rem; text-align-last: center;">
            <p style="font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 18.78px;
            text-align: left;
            color: #FF82EB;">
                Executive Search
            </p>

            <p style="font-family: 'Raleway', sans-serif;
            font-size: 23px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            color: #000000;">
                Where Talent meets Opportunity
            </p>

            <p style="font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.03224727511405945px;
            text-align: center;
            color: #7E7E7E;">
                A boutique search firm focusing on Talent Acquisition by Bringing clients and candidates
                together. Our Objective solutions complement the requirements of both start-ups and
                well-established companies. Through Market Expertise and innovative methodologies,
                we assure Quality and Efficiency for all our Client’s hiring needs.
            </p>
        </div>
        <!-- <img src="./assets/img/search-executive/banner-img.png"
            style="position: absolute; bottom: 0; left: 5rem; width: 125px;" alt=""> -->
    </div>
</section>

<section class="Specializing-in-section">
    <div class="container">
        <div>
            <p style="font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 600;
            line-height: 37px;
            letter-spacing: -0.11399998515844345px;
            text-align: center;
            color: #000000;">Specializing in</p>
        </div>


        <div class="grid-margin">
            <div class="specializing-grid">
                <div>
                    <div style="display: flex; align-items: center;">
                        <img data-aos="zoom-in" class="specializing-grid-img"
                            src="./assets/img/search-executive/Specializing-2.svg" alt="">
                        <span style="font-family: 'Raleway', sans-serif;
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 35.22px;
                        letter-spacing: -0.11399998515844345px;
                        text-align: left;
                        color: #000000; padding-left: 1rem;">BFSI</span>
                    </div>
                </div>
                <div>
                    <div style="display: flex; align-items: center;">
                        <img data-aos="zoom-in" class="specializing-grid-img"
                            src="./assets/img/search-executive/Specializing-3.svg" alt="">
                        <span style="font-family: 'Raleway', sans-serif;
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 35.22px;
                        letter-spacing: -0.11399998515844345px;
                        text-align: left;
                        color: #000000; padding-left: 1rem;">IT Industry</span>
                    </div>
                </div>
                <div>
                    <div style="display: flex; align-items: center;">
                        <img data-aos="zoom-in" class="specializing-grid-img"
                            src="./assets/img/search-executive/Specializing-1.svg" alt="">
                        <span style="font-family: 'Raleway', sans-serif;
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 35.22px;
                        letter-spacing: -0.11399998515844345px;
                        text-align: left;
                        color: #000000; padding-left: 1rem;">Fintech</span>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>


<!-- 
<section style="padding-top: 5rem; padding-bottom: 5rem; background: linear-gradient(68.36deg, #F3E8FF 0%, rgba(243, 232, 255, 0) 124.56%);
">

    <div class="container">
        <p class="blog-posting">
            Blog Posting
        </p>

        <div class="row">
            <div class="col-md-4 my-3" *ngFor="let blog of blogs | slice:0:3">

                <div style="border: 1px solid #000000; padding: 1rem; border-radius: 20px;">
                    <p style="font-size: 18px; font-weight: 500;
                        display: -webkit-box;
                        max-width: 400px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      ">{{blog.title}}</p>
                    <div style="display: flex; justify-content: space-between;">
                        <span>
                            {{blog.published | date:"MMM dd, yyyy"}}
                        </span>

                        <span><a [href]=blog.url target="_blank"> View Post </a></span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
 -->


<section class="Capture-Exceptional-section">
    <div class="container">

        <p class="Capture-Exceptional-heading">
            Questa Search Partners: Where Top Talent Meets Strategic Opportunity
        </p>

        <div class="row my-5">
            <div class="col-md-4 my-2" data-aos="flip-down">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100%; ">
                    <p class="Consultative-card">
                        Consultative <br class="hide-mobile"> Approach
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2" data-aos="flip-up">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100%; ">
                    <p class="Consultative-card">
                        Through <br class="hide-mobile"> Reference Checks and Follow Ups
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2" data-aos="flip-down">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100% ">
                    <p class="Consultative-card">
                        Applicant <br class="hide-mobile"> Tracking System
                    </p>

                </div>
            </div>

            <div class="col-md-6 my-2" data-aos="flip-up">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100%; ">
                    <p class="Consultative-card">
                        Trained Teams in Recruitment <br class="hide-mobile"> Interfaces
                    </p>
                </div>
            </div>

            <div class="col-md-6 my-2" data-aos="flip-down">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100%; ">
                    <p class="Consultative-card">
                        Capture Psychographics of <br class="hide-mobile">
                        candidates for HR managers to <br class="hide-mobile">
                        make informed decisions.
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2" data-aos="flip-up">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100%; ">
                    <p class="Consultative-card">
                        Building trust <br class="hide-mobile"> with applicants <br class="hide-mobile"> and clients
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2" data-aos="flip-down">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100%; ">
                    <p class="Consultative-card">
                        Smooth onboarding
                    </p>
                </div>
            </div>

            <div class="col-md-4 my-2" data-aos="flip-up">
                <div style="background-color: #C493FF; border-radius: 20px; padding: 2rem; height: 100%; ">
                    <p class="Consultative-card">
                        Agility in sourcing <br class="hide-mobile"> methodology
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Streamline-your-section">
    <div class="container" style="text-align-last: center;">
        <img data-aos="zoom-in" src="./assets/img/search-executive/Streamline.png" class="Streamline-img" alt="">

        <div data-aos="fade-up" style="padding: 4rem 0;">
            <p class="Streamline-your-text">
                Streamline your hiring process with end-to-end candidate engagement, minimizing HR and business workload
                while ensuring top-notch quality.
            </p>

            <img src="./assets/img/search-executive/line-arrow.svg" class="line-arrow-img" alt="">


            <div class="row">
                <div class="col-md-6 col-6">

                    <p class="Recruitment-text">
                        In Recruitment since
                    </p>

                    <p class="Recruitment-text-number">
                        <span [countUp]="countIndustry" #counte></span>+ Years
                    </p>
                </div>
                <div class="col-md-6 col-6">

                    <p class="Recruitment-text">
                        Candidate Database of
                    </p>

                    <p class="Recruitment-text-number">
                        <span [countUp]="countLeaders" #counte></span>L+ Active
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section-We-offer-solutions">
    <div class="container">

        <p class="We-offer-solutions-heading" data-aos="flip-down">
            We offer solutions to the biggest <br class="hide-mobile"> Recruitment Issues of the decade!
        </p>

        <div class="row solution-1-main-div">
            <div class="col-md-4 my-3">
                <div class="solution-1-card">

                    <img data-aos="zoom-in" src="./assets/img/search-executive/solution-1.svg" alt=""
                        class="solution-1-img">

                    <p data-aos="fade-down" class="solution-1-para">
                        83% of candidates report being confused regarding the hiring process. They wish to have clarity
                        and clear timelines in the process. With Questa, you can get step-by-step help in your Job
                        Search Journey with our seamless candidate experience.
                    </p>

                    <br><br>
                    <p style="font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 36px;
                    letter-spacing: -0.11399998515844345px;
                    text-align: center;
                    color: #ffffff;
                    ">
                        Source: North ONE
                    </p>

                </div>
            </div>

            <div class="col-md-4 my-3">
                <div class="solution-1-card">

                    <img data-aos="zoom-in" src="./assets/img/search-executive/solution-2.svg" alt=""
                        class="solution-1-img">

                    <p data-aos="fade-down" class="solution-1-para">
                        With a decade of domain experience, Questa doesn’t just "fill roles"—they build talent
                        intelligence ecosystems. We are not just a recruiter but a trusted talent advisor, helping with
                        compensation bench-marking, and getting a better understanding of the talent needs in client
                        specific industries.
                    </p>
                    <br>

                </div>
            </div>

            <div class="col-md-4 my-3">
                <div class="solution-1-card">

                    <img data-aos="zoom-in" src="./assets/img/search-executive/solution-3.svg" alt=""
                        class="solution-1-img">

                    <p data-aos="fade-down" class="solution-1-para">
                        Focusing on candidate experience is crucial for companies to attract top talent, enhance their
                        employer brand, and build lasting connections with candidates.Questa provides smooth and swift
                        candidate Experience through feedback, ensuring quality candidates are not lost.
                    </p>

                </div>
            </div>
        </div>

    </div>
</section>

<section style="padding-bottom: 5rem;">
    <div class="container">

        <div class="row" style="margin: 5rem 0;">
            <div class="col-md-11">
                <img data-aos="fade-down" src="./assets/img/search-executive/icons-1.png" style="width: 100%;" alt="">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <img data-aos="fade-up" src="./assets/img/search-executive/icons-2.png" style="width: 100%;" alt="">
            </div>
        </div>
    </div>


    <div class="container my-5">
        <p class="Are-you-looking-heading" data-aos="flip-down">
            Are you looking for our
        </p>
        <p class="Executive-Search-services-text" data-aos="flip-down">
            Executive Search services?
        </p>


        <div style="text-align-last: center; padding-top: 40px;">
            <button class="banner-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span>
                    Speak with us
                </span>
            </button>
        </div>
    </div>
</section>

<section style="padding-bottom: 5rem;">
    <div class="container">
        <div class="testimonial-box">
            <div class="row">
                <div class="col-md-6 col-6-border-right">
                    <div class="row">
                        <div class="col-md-12 col-4">
                            <img src="./assets/img/landing/notes.svg" alt="" style="margin-bottom: 2rem;">
                        </div>
                        <div class="col-md-12 col-8">
                            <p class="testimonial-box-heading">
                                Dont take our word <br class="hide-mobile"> for it.
                            </p>
                            <p class="testimonial-box-heading">
                                Hear from Leading Industry Experts!
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div>
                        <owl-carousel-o [options]="customOptionsLandingPage">

                            <ng-template carouselSlide>
                                <div class="test-padding-1">

                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Kishore Purswani</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Ex Director HRD- BHEL</span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 36px;
                                                text-align: left;">
                                                    It was a pleasure for me and my team to attend the Enneagram
                                                    workshop. Enneagram made it possible for us to assess our strengths
                                                    and challenges and also gave us the knowledge of what we do and why
                                                    we do so. are an excellent facilitator and I can easily vouch now
                                                    that Enneagram and emotional Intelligence can help a lot more people
                                                    as the workshop has helped me and my colleagues
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Mr. Murali Ramakrishnan</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> CEO South Indian Bank
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 36px;
                                                text-align: left;">
                                                    With the intention of building a strong and cohesive leadership team
                                                    with a common purpose and vision, I was looking at a program which
                                                    is effective and definitively different from what we are familiar
                                                    with in the past. The Questa Enneagram profiling and workshop
                                                    concept were in-depth, practical and not overloaded with theory. I
                                                    found my own profile very relatable! Knowing the leaders through
                                                    their profiles and understanding the current culture, their power
                                                    motives, team dynamics, level of diversity in competencies and
                                                    thoughts was very insightful. It was a refreshing program leading to
                                                    self-awareness which helped us proceed with the transformation
                                                    journey with clear goals and outcomes
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Ravi Virwani</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> CBO, Capital India Home Loans
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    As we focussed on growing our front line sales team at a rapid pace,
                                                    we were looking for a way to identify suitable candidates in a
                                                    standardized yet scalable manner. After initial screening, we
                                                    started using the Questa QSSSR assessment to shortlist candidates
                                                    for the interview round. The simple report which encompasses the
                                                    natural flair towards sales, competencies critical for sales and
                                                    also has a built in aptitude test gives a very good insight into the
                                                    candidate suitability. It hardly took us any time to include this
                                                    assessment in our hiring process and hiring managers were able to
                                                    quickly start using these reports effectively. It definitely helped
                                                    us overcome personal bias and ensure a uniform evaluation criteria.
                                                    We have even been able to include this test for hiring our Branch
                                                    Managers. Moreover, apart from the competencies the report also
                                                    highlights the personality type which helps you to adapt a
                                                    diversified approach.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Mrinal</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Cars24 HR Head

                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    Our Pulse Survey brought out certain behavioural patterns which were
                                                    causing disconnect in a critical team. We were exploring various
                                                    interventions and came across the customized and real-time program
                                                    that QEPL had to offer. They designed a very powerful facilitated
                                                    program which helped bring a very inclusive mindset where diversity
                                                    of ideas and thoughts was appreciated. The team felt aligned to a
                                                    common mission, vision and was able to resonate with their core
                                                    strengths and challenges, understanding personality differences and
                                                    work towards a collaborative style of functioning …We have seen a
                                                    change in the pulse feedback and there has been a noticeable change
                                                    in how the team engages with cross-functional teams as well
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Colonel Naresh Rajendra Sinha</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> 22+ years in the Executive Coaching & Corporate Training space
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    A very detailed and correct assessment is the key to good hiring by
                                                    appropriate inquiry. Questa has developed tools where anyone, even
                                                    with average interviewing skills can check and select. Planning
                                                    growth of the employee by a great tool can negate biases which could
                                                    creep in. Questa assessments tick all the blocks of a wonderful
                                                    all-rounded tool.Lot of hard work and research incorporating country
                                                    specific inputs has enhanced its accuracy and reliability to be used
                                                    for multiple interventions in corporations.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Swati Singh</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Head of HR, Mobikwik
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    We partnered with Questa for the 'Accelerate 2 Grow' program for our
                                                    leaders which was very well received! Through powerful & engaging
                                                    activities, there was an immediate absorption on the need to
                                                    understand diverse perspectives while collaborating as well as
                                                    leading teams…The simplicity and relevance of the concepts helped us
                                                    create recall. One of the most interesting exercise was to
                                                    understand the Communication Styles of everyone in the room
                                                    including one-self and that was such an eye-opener and very useful
                                                    while working together! Thanks team Questa for these workshops.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template carouselSlide>
                                <div class="test-padding-1">
                                    <div class="test-padding-2">

                                        <div>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                            font-size: 24px;
                                                            font-weight: 600;
                                                            line-height: 28.18px;
                                                            text-align: left;
                                                            ">Arvind Jonalgadda</span>
                                            <br>
                                            <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        line-height: 21.13px;
                                                        text-align: left;
                                                        color: #1C142D;

                                                    "> Head HR, Shriram Life Insurance Company limited
                                            </span>
                                        </div>
                                        <div style="height: 400px; padding: 3rem 0;">
                                            <div>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                    font-size: 40px;
                                                    font-weight: 500;
                                                    line-height: 36px;
                                                    text-align: left;
                                                    vertical-align: text-bottom;
                                                    ">“</span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                text-align: left;">
                                                    At SLIC, in our journey of Capability building in alignment with
                                                    future readiness and growth, we partnered with Questa Talent
                                                    Solutions since July 2023, and their expertise in psychometric
                                                    assessments, coaching, and culture-role fitment has been invaluable.
                                                    Questa Talent Solutions has been an integral part of this journey,
                                                    with multiple programs (conceptualised by SLIC and strategized and
                                                    implemented by Questa, including workshops, Talent mapping, and
                                                    coaching) that have significantly contributed towards shaping our
                                                    leadership and talent strategies, delivering real impact. With deep
                                                    behavioral insights, Questa has helped us make smarter growth
                                                    decisions. More than a service provider, they are a true partner in
                                                    building high-performing teams.
                                                </span>
                                                <span style="font-family: 'Raleway', sans-serif;
                                                        font-size: 40px;
                                                        font-weight: 500;
                                                        line-height: 36px;
                                                        text-align: left;
                                                        vertical-align: text-top;
                                                        ">”</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-page></app-footer-page>